/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.form-horizontal
  .gts-issue-sidebar-fields
    .control-label
      width: 30%
      margin-right: 10px

    .controls
      margin-left: 0

  .gts-textarea-expandable
    line-height: 18px
    height: 18px

.gts-comment
  background: #fff
  border: 1px solid #ddd

  .gts-comment-header
    padding-bottom: 10px
    border-bottom: 1px solid #f4f4f4

  .gts-comment-body
    border: none
    background: #fff
