/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* gitorious.css overrides */
/* TODO: port it to mainline when we're ready with issue tracker */
.form-horizontal .controls
  margin-left: 0

.form-horizontal .control-label + .controls
  margin-left: 160px

.form-horizontal .input-expanded
  width: 99%

.form-horizontal .form-actions
  text-align: right

.gts-help .table
  width: auto

.form-horizontal legend + p
  margin: -20px 0 27px

.form-horizontal textarea
  width: 99%
  height: 150px
/* ~ gitorious.css overrides */

.form-horizontal
  .gts-issue-sidebar-fields
    .issue-assignee-widget
      position: relative

      .ui-autocomplete
        margin: 30px 0 0 34%
        width: 60%

      .issue-assignees
        list-style: none
        margin: 10px 0

        li
          display: inline-block
          margin-right: 10px

          &.last-child
            margin-right: 0

    .control-label
      width: 30%
      margin-right: 10px

    .controls
      margin-left: 0

  .gts-textarea-expandable
    line-height: 18px
    height: 18px

.gts-comment
  background: #fff
  border: 1px solid #ddd

  .gts-comment-header
    padding-bottom: 10px
    border-bottom: 1px solid #f4f4f4

  .gts-comment-body
    border: none
    background: #fff

.gts-pullbox-content-meta
  padding: 10px
  border-bottom: 1px solid #f4f4f4
