<div id="gts-pjax-container">
  <%= link_to 'Add issue', new_project_issue_path(project), :class => 'btn btn-primary pull-right' %>
  <h2 class="gts-legend">
    <%= project.title %>'s issues
  </h2>

  <ul>
    <%= render issues %>
  </ul>
</div>
