<div id="gts-pjax-container">
  <%= link_to 'Add issue', new_project_issue_path(project), :class => 'btn btn-primary pull-right' %>
  <h2 class="gts-legend">
    <%= project.title %>'s issues
  </h2>

  <table class="table table-stripped gts-table">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <%= render issues %>
    </tbody>
  </table>
</div>
