development:
  adapter: mysql2
  database: gitorious_development
  username: root
  pool: 5
  timeout: 5000

test:
  adapter: mysql2
  database: gitorious_test
  username: root
  pool: 5
  timeout: 5000
